*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    color:black;
    text-align:center;
    padding:20px;
    background-color: white;
}

body{
    color: white;
    background-color: #1a1b29;
}

#scoreboard{
    border:2px solid;
    width:200px;
    margin:30px auto;
    margin-bottom: 15px;
    border-radius:5px;
    position:relative;
    padding:15px;
    text-align:center;
}

.tab{
    width:60px;
    text-align:center;
    background-color: darkcyan;
    position:absolute;
    border-radius:10px;
    
}

#user{
    top:10px;
    left:-20px;
}

#comp{
    right:-20px;
    bottom:10px;
}

.theScores{
    font-size:60px;
}

.result{
    margin-top:25px;
}

.result>p{
    text-align:center;
    font-size:31px;
    font-weight: bold;
}

#userScore{
    padding-right:20px;
}

#compScore{
    padding-left:20px;
}

#separator{
    width:1px;
    height:100%;
    border: 2px dotted;
    position:absolute;
    top:0px;
    left:49%;
}

.choice{
    display:inline-block;
    margin:0 30px;
    width:180px;
    height:180px;
    vertical-align:middle;
    position:relative;
}

.choices{
    text-align:center;
    margin-top:40px;
}

#message{
    margin:30px 0;
    text-align:center;
}

